@model DanieliPetShop.Models.Animal

@{
    ViewBag.Title = "EditPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit - @ViewBag.Name</h2>

<form method="post" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.AnimalId">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
         <br />
        <label asp-for="Age"></label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
        <br />
        <label asp-for="Picture"></label>
        <input asp-for="Picture" />
        <span asp-validation-for="Picture"></span>
        <br />
        <label asp-for="Category"></label>
        <input asp-for="Category" />
        <span asp-validation-for="Category"></span>
        <br />
        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
        <br />
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
        <br />
        <input btn btn-primary type="submit" value="Update" />
    </form>
