<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/styles/style.css">
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/styles/favicon.ico"/>
</head>

<body>
    <div>
    <navbar class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="/styles/images/titledLogo.jpg" id="logo"/>
        <a class="nav-link active" asp-action="Index" asp-controller="Home">Home</a>
        <a class="nav-link active" asp-action="Index" asp-controller="ShopTable">Shop</a>
        <a class="nav-link active" asp-action="Index" asp-controller="Admin">Administrator</a>
    </navbar>
    <div class="p-1 text-center bg-image"
    style="
      background-image: url('https://th.bing.com/th/id/OIP.KATdgDHf7ObSZjaH743bTwHaED?pid=ImgDet&rs=1');
      height: 100px;">
    <h1 id="h1">Danieli's Pet Shop!</h1>
    </div>
        <div>@RenderBody()</div>
    </div>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/popper.js"></script>
    <script src="~/scripts/jquery.js"></script>
</body>
</html>
