@inject DanieliPetShop.Data.ShopContext _context

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
table, th, td {
  border:1px solid black;
  text-align:center;
}

table {
  margin-left:auto;
  margin-right:auto;
}

fieldset{
  width: 400px;
  margin: auto;
  margin-left:300px;
}
</style>
<div>
<h2>Here you can choose the animal you wish to buy</h2>
<p>for picture and more details about the animal click the "view details" button</p>

<p>
    <form action="/ShopTable/Filter" method="post">
        <fieldset style="width:50px">
            <select id="Category" style="width:130px" name="category">
            <option value="Show all">Show all</option>
            <option value="Bird">Bird</option>
            <option value="Mammal">Mammal</option>
            <option value="Fish">Fish</option>
            <option value="Reptile">Reptile</option>
            </select>
            <input class="btn btn-secondary" class="submit" type="submit" value="Filter"/>
        </fieldset>
    </form>

    <table style="width:50%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>more details</th>
        </tr>
    @foreach (var animal in _context.Animals!)
    {
        <tr>
            <td>@animal.Name</td>
            <td>@animal.Description</td>
            <td><a class="btn btn-primary" asp-action="Index" asp-controller="Animal" asp-route-id="@animal.AnimalId">View Details</a></td>
        </tr>
    }
    </table>
</p>
</div>

